.theme--flex {
  @include flex;
  @include flex-direction(column);
  overflow: hidden;
}

.theme--wrap {
  overflow: hidden;
}



.main-content {
  &--position {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
  }
}

.fixed-area {
  &--position {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 55555;
  }

  &--top-control {
    padding-top: 46px;
  }
}
