.theme--flex {
  @include flex;
  @include flex-direction(column);
  overflow: hidden;
}

.theme--wrap {
  overflow: hidden;
}



.main-content {
  &--position {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
  }
}
